<title>Characters</title>
    <!-- table --> 
    <div class="mt-1 w-100">
        <table class="table table-dark table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">House</th>
                    <th scope="col">Origin</th>
                    <th scope="col">Weapon</th>
                    <th scope="col">Species</th>
                    <th scope="col">Status</th>
                    <th scope="col">Organization</th>
                    <th class='text-center'>actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each characters}}
                <tr>
                    <td>{{fname}}</td>
                    <td>{{lname}}</td>
                    <td>{{house_name}}</td>
                    <td>{{location_name}}</td>
                    <td>{{weapon}}</td>
                    <td>{{species_name}}</td>
                    <td>{{status}}</td>
                    <td>{{organization}}</td>
                    <!-- delete & edit buttons -->
                    <td>
                        <div class='d-flex justify-content-around'>
                            <!-- delete button -->
                            <div data-toggle='tooltip' title='Delete' data-placement='top'>
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
                                    <i class="far fa-trash-alt "></i>
                                </button>
                            </div>

                            <!-- edit button -->
                            <div data-toggle='tooltip' title='Edit' data-placement="top">
                                <button class="btn btn-success btn-sm editBtn" data-toggle='modal' data-target='#editModal'>
                                    <i class="fas fa-edit"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
