<title>Houses</title>

<!-- table -->
<div class="mt-1 w-100">
    <table class="table table-dark table-striped table-bordered table-hover">
        <!-- row headers -->
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Sigil</th>
                <th scope="col">Head</th>
                <th scope="col">Status</th>
                <th class='text-center'>actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each houses}}
            <tr id={{house_id}}>
                <td>{{house_name}}</td>
                <td>{{sigil}}</td>
                <td>{{fname}} {{lname}}</td>
                <td>{{status}}</td>
                <!-- delete & edit buttons -->
                <td>
                    <div class='d-flex justify-content-around'>
                        <!-- delete button -->
                        <div data-toggle='tooltip' title='Delete' data-placement='top'>
                            <button type="button" class="btn btn-danger btn-sm delete-btn">
                                <i class="far fa-trash-alt "></i>
                            </button>
                        </div>

                        <!-- edit button -->
                        <div data-toggle='tooltip' title='Edit' data-placement="top">
                            <a class="btn btn-success btn-sm editBtn" href='/houses/{{house_id}}'>
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Edit Modal HTML -->
<div id="editModal" class="modal fade">
    <div class="modal-dialog modal-confirm ">
        <div class="modal-content">

            <div class="modal-body text-left">

                {{!-- HOUSE form starts here --}}

                <form action="/houses" method="post" id="insertHouse">
                    <div class="form-group">
                        <label for='name'>Name</label>
                        <input class='form-control' type="text" name="name" maxlength="30" placeholder="" required>
                    </div>

                    <div class="form-group">
                        <label for='sigil'>Sigil</label>
                        <input class='form-control' type="text" name="sigil" maxlength="100" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for='head'>Head</label>
                        <select name="head" class='custom-select'>
                            {{#each characters}}
                            <option value="{{id}}">{{fname}} {{lname}}</option>
                            {{/each}}
                        </select>
                        <option value=''>none</option>
                    </div>

                    <div class="form-group">
                        <label>Status</label>
                        <select name="status_id" class='custom-select'>
                            {{#each status}}
                            <option value="{{status_id}}">{{status}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type='text/x-handlebars-template'>
    <tbody>
        \{{#each houses}}
        <tr id=\{{house_id}}>
            <td>\{{house_name}}</td>
            <td>\{{sigil}}</td>
            <td>\{{fname}} \{{lname}}</td>
            <td>\{{status}}</td>
            <!--\ delete & edit buttons -->
            <td>
                <div class='d-flex justify-content-around'>
                    <!-- delete button -->
                    <div data-toggle='tooltip' title='Delete' data-placement='top'>
                        <button type="button" class="btn btn-danger btn-sm delete-btn">
                            <i class="far fa-trash-alt "></i>
                        </button>
                    </div>
        
                    <!-- edit button -->
                    <div data-toggle='tooltip' title='Edit' data-placement="top">
                        <a class="btn btn-success btn-sm editBtn" href='/houses/\{{house_id}}'>
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    \{{/each}}
    </tbody>
</script>