<head>
    <title>Location</title>



    <style>
        #insertLocation {
            border: 5px;
            border-style: solid;
            border-color: black;
            padding: 10px;
            display: inline-block;
            background-color: white;
            opacity: 0.9;
        }
        div.centerThis {
            text-align: center;
        }
        body {
            background: url("https://awoiaf.westeros.org/images/f/f6/Agot_hbo_guide_map.jpg");
            background-size: cover;
        }
    </style>



    <div class="container" id='insertLocation'>
    <form action="/locations" method="put" id='update-location'>
        <div class="form-group">
            <h2 class='text-center' >Location Update Form</h2>
            <label for='name'>Location Name</label>
            <input class='form-control' type="text" name="name" maxlength="30" value='{{location.name}}' required>
        </div>
    
        <div class="form-group">
            <label for='region'>Region Name</label>
            <input class='form-control' type="text" name="region" maxlength="30" value='{{location.region}}' >
        </div>
    
        <div class="form-group">
            <label>Continent</label>
            <select name="continent_id" class='custom-select' id='select-continent'>
                {{#each continents}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
    
        <button class="btn btn-primary" onclick='updateLocation({{ location.id }})'>Submit</button>
    </form>
    </div>


<script defer>
    selectContinent({{ location.continent_id }});
</script>